:root[data-theme="light"] {
  --background-color: #fafafa;
}

:root[data-theme="dark"] {
  --background-color: #2b3e51;

  .task p{
    color: aqua;
  }
  .task h4{
    color: aqua;
  }
  h1{
    color: aqua;
  }
  p{
    color: aqua;
  }

.board p{
  color: aqua;
  }
  .column h3{
    color: aqua;
    }
}

  

.board {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.columns-container {
  display: flex;
}

.column {
  width: 30%;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.column h3 {
  text-align: center;
  font-size: 1.2em;
}


